<template>
    <div class="usersPage">
        <UsersTable :users="allUsers" />
    </div>
</template>

<script>
    import {mapActions, mapState, mapMutations} from 'vuex';
    import {namespace as userModuleNamespace} from '@/store/user';
    import {types as userModuleActionTypes} from '@/store/user/actions';
    import {types as userModuleStateTypes} from '@/store/user/state';
    import {types as userModuleMutationTypes} from '@/store/user/mutations';
    import UsersTable from '@/components/UsersTable';

    export default {
        created () {
            this.fetchUsers();
        },

        beforeDestroy () {
            this.setActiveUser(null);
        },

        methods: {
            ...mapActions({
                fetchUsers: `${userModuleNamespace}/${userModuleActionTypes.fetchUsers}`,
            }),

            ...mapMutations({
                setActiveUser: `${userModuleNamespace}/${userModuleMutationTypes.setActiveUser}`,
            }),
        },

        computed: {
            ...mapState({
                allUsers: (state) => state[userModuleNamespace][userModuleStateTypes.users],
            }),
        },

        components: {
            UsersTable,
        },
    };
</script>

<style lang="scss" scoped>
    .usersPage {
        padding-top: 40px;
    }
</style>
