<template>
    <div class="userPage">
        <UserCircle :user="activeUser" />
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import {namespace as userModuleNamespace} from '@/store/user';
    import {types as userModuleActionTypes} from '@/store/user/actions';
    import {types as userModuleStateTypes} from '@/store/user/state';
    import UserCircle from '@/components/UserCircle';

    export default {
        created () {
            this.fetchUser(this.$route.params.userId);
        },

        methods: {
            ...mapActions({
                fetchUser: `${userModuleNamespace}/${userModuleActionTypes.fetchUser}`,
            }),
        },

        computed: {
            ...mapState({
                activeUser: (state) => state[userModuleNamespace][userModuleStateTypes.activeUser],
            }),
        },

        components: {
            UserCircle,
        },
    };
</script>

<style lang="scss" scoped>
    .userPage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
</style>
