<template>
    <table cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company name</th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="user in users" :key="user.id" @click="redirectToUserDetails(user.id)">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.company.name }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array,
                default: () => [],
            },
        },

        methods: {
            redirectToUserDetails(targetUserID) {
                this.$router.push(`/user/${targetUserID}`);
            },
        },
    };
</script>

<style lang="scss" scoped>
    @import '../styles/responsive';

    table {
        width: 100%;

        th {
            font-size: 22px;
            padding-bottom: 10px;

            @include isMobile {
                font-size: 14px;
            }
        }

        tbody {
            tr {
                cursor: pointer;
                transition: background-color 0.1s;

                @include isMobile {
                    font-size: 10px;
                }

                &:nth-child(odd) {
                    background-color: #f1f1f1;
                }

                &:hover {
                    background-color: lightgray;
                }

                td {
                    padding: 12px 8px;
                }
            }
        }
    }
</style>
