<template>
    <div v-if="user" class="userCircle">
        <div class="userCircle__arrowContainer" @click="redirectBack()">
            <span to="../" class="userCircle__arrowContainer__backArrow">‹</span>
        </div>

        <p class="userCircle__text userCircle__text--topLeft">
            {{ user.name }}
        </p>

        <p class="userCircle__text userCircle__text--left">
            {{ user.email }}
        </p>

        <p class="userCircle__text userCircle__text--bottomLeft">
            {{ fullAddress }}
        </p>

        <p class="userCircle__text userCircle__text--topRight">
            {{ user.phone }}
        </p>

        <p class="userCircle__text userCircle__text--right">
            {{ user.website }}
        </p>

        <p class="userCircle__text userCircle__text--bottomRight">
            {{ user.company.name }}
        </p>
    </div>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                default: () => null,
            }
        },

        computed: {
            fullAddress() {
                const userAddress = this.user.address;

                return `${userAddress.street}, ${userAddress.suite}, ${userAddress.city}, ${userAddress.zipcode}`;
            },
        },

        methods: {
            redirectBack() {
                this.$router.back();
            },
        },
    };
</script>

<style lang='scss' scoped>
    @import '../styles/responsive';

    $circleSizeDesktop: 200px;
    $circleSizeMobile: 100px;

    .userCircle {
        width: $circleSizeDesktop;
        height: $circleSizeDesktop;
        position: relative;
        display: flex;

        @include isMobile {
            width: $circleSizeMobile;
            height: $circleSizeMobile;
        }

        .userCircle__arrowContainer {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: box-shadow 0.4s;
            border: 5px solid #4267B2;
            border-radius: 50%;

            &.userCircle__arrowContainer:hover {
                box-shadow: 0 0 15px 0 rgba(4, 38, 123, 1);
            }

            .userCircle__arrowContainer__backArrow {
                position: absolute;
                top: 23%;
                height: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 160px;
                text-decoration: none;
                color: #4267B2;

                @include isMobile {
                    font-size: 80px;
                }
            }
        }

        .userCircle__text {
            position: absolute;
            white-space: nowrap;
            margin: 0;

            @include isMobile {
                white-space: normal;
            }

            &.userCircle__text--topLeft {
                right: 90%;
                top: -20px;

                @include isMobile {
                    right: 60%;
                    top: -30px;
                    width: 130px;
                }
            }

            &.userCircle__text--left {
                right: 120%;
                top: 50%;
                transform: translateY(-50%);

                @include isMobile {
                    width: 100px;
                    right: 105%;
                    word-break: break-word;
                }
            }

            &.userCircle__text--bottomLeft {
                right: 90%;
                bottom: -20px;
                white-space: normal;
                width: 200px;

                @include isMobile {
                    right: 60%;
                    top: 120px;
                    width: 130px;
                }
            }

            &.userCircle__text--topRight {
                left: 90%;
                top: -20px;

                @include isMobile {
                    left: 60%;
                    top: -30px;
                    width: 130px;
                }
            }

            &.userCircle__text--right {
                left: 120%;
                top: 50%;
                transform: translateY(-50%);

                @include isMobile {
                    width: 100px;
                    left: 100%;
                    word-break: break-word;
                }
            }

            &.userCircle__text--bottomRight {
                left: 90%;
                bottom: -20px;

                @include isMobile {
                    left: 60%;
                    top: 120px;
                    width: 130px;
                }
            }
        }
    }
</style>
